@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    outline: none;
    text-decoration: none;
    letter-spacing: 0.40px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 5px;
}

.sidebar:hover::-webkit-scrollbar-thumb {
    background: #717171;
}

::-webkit-scrollbar-thumb:hover {
    background: #888;
}

h1 {
    font-size: 1.5rem;
    color: #fff;
}

h4 {
    text-transform: uppercase;
    margin-left: 20px;
    font-size: .9rem;
    color: #aaa;
}

.header i {
    font-size: 1.5rem;
    color: #fff;
    cursor:pointer;
}
.header .icon {
    height:24px;
    width:24px;
    fill:white;
}
p,
a {
    font-size: 0.9rem;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 12px 0;
}


/* =========== HEADER =========*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #202020;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 25px;
    padding-right: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo-img {
    position: relative;
    height: 45px;
    width: 45px;
    margin-right: 2px;
}
#darktoggle{
    margin-left:20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.search-container {
    display: flex;
    align-items: center;
    flex: 0 1 500px;
    margin-left: 40px;
}

.search-container form {
    position: relative;
    width: 100%;
}

.search-container input {
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #121212;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius:20px 0 0 20px;
    padding: 12px;
    color: #fff;
    font-size: 1rem;
}

.search-container .search {
    min-width: 60px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    border-radius:0 20px 20px 0;
    background-color: #313131;
    outline: none;
    border: none;
}

.profile-container {
    display: flex;
    align-items: center;
}

.profile-container div {
    position: relative;
    margin-left: 25px;
}
.profile-container div>span{
    position: absolute;
    top: -7px;
    right:-8px;
    font:400 12px sans-serif;
    background:rgb(158, 8, 8);
    line-height:1;
    display:flex;
    align-items:center;
    justify-content:center;
    border: 2px solid  #202020;
    min-width:12px;
    color:white;
    padding: 1px 5px;
    border-radius: 15px;
}
.profile-box {
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 25px;
}

.header img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/*========= main container ======== */

.main-container {
    display: flex;
    position: fixed;
    height: calc( 100vh - 60px);
    top: 55.5px;
}


/*========== SIDE BAR ======== */

.sidebar {
    padding-top: 10px;
    width: 240px;
    height:100%;
    background-color: #212121;
    overflow-y: scroll;
    color: #fff;
}

.sidebar-items {
    display: flex;
    flex-direction: column;
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding:5px;
    cursor: pointer;
}

.sidebar-item:hover {
    background-color: #4C4C4C;
}
.sidebar-item .img-container{
    position: relative;
    width: 20px;
    height: 20px;
    margin: 5px 8px;
}



/* ========= CONTENTS ========= */

.content {
    width: calc(100vw - 240px);
}

.menu-wrapper {
    overflow-x: scroll;
    background-color: #181818;
    display: flex;
    padding-left: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.menu-wrapper::-webkit-scrollbar {
    height: 0;
}

.menu-item {
    display: flex;
    gap: 8px;
    margin: 6px 6px;
    background-color: #373737;
    padding: 4px 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    white-space: nowrap;
    cursor: pointer;
    color: #fff;
    transition: .5s;
}

.menu-item:hover {
    background-color: #4D4D4D;
}
/*========= ARCTICLES ==========*/
.content .articles{
    display:flex;
    gap:10px;
}

/*========= MIDDLE =============*/

.match {
    display: flex;
    align-items: center;
    font-size: 14px;
    position: relative;
    padding: 5px 0;
    flex: 1 1;
    text-decoration: none;
    color: #aaa;
    background: #181818;
    border-radius: 5px;
    margin: 0 10px;
}
.teaminfos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1;
    min-width: 0
}
.hometeam,.awayteam {
    display: flex;
    align-items:center;
    flex: 1 1;
    letter-spacing: 0.70px;
    position: relative
}
.scores {
    color: #fdfdfd;
    flex: 0 0 30px;
    flex-direction: column;
    justify-content:space-between;
    font-weight: 700;
    position: relative;
    margin-right: 13px
}
.scores,.home,.away {
    display: flex
}

.home,.away{
    align-self: flex-end;
    align-items: center;
    height: 20px
}

.home {
    margin-bottom: 5px;
}
.teamlogo {
    margin-right: 30px;
}
.hometeam .teamname,.awayteam .teamname {
    align-self: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.teamlogo,.teamlogo>div {
    display: flex;
}

.teamlogo img {
    max-height: 24px;
    max-width: 24px;
}
.hometeam .teamlogo  img{
    margin-bottom:4px;
}
.statuscontainer {
    color: #aaa;
    flex: 0 0 50px;
    flex-direction: column;
    font-size: 12px;
    justify-content: space-between;
    position: relative
}
.match-status {
    display: flex;
    justify-content: center
}
.mobile{
    display:none;
}
/* ========= RESPONSIVNESS =========*/

@media (max-width:1200px) {
    .main-container{
        top:50px;
    }
    .logo-img{
        width:40px;
        height:40px;
    }
    #logo-txt{
        display:none;
    }
    .mobile{
        display:block;
    }
    .profile-container.desktop > *:not(:nth-child(4)):not(:nth-child(5)):not(:last-child){
        display:none;
    }
    .profile-container.mobile {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height:50px;
        margin-left:-5px;
        display: flex;
        align-items:center;
        justify-content:space-around;
        background: #181818;
        color: white;
        z-index: 99999;
      }
    .sidebar {
        position:absolute;
        right:-400px;
    }
    .content {
        width: calc(100vw);
    }
}

@media (max-width:1050px) {
    /*   something here  */
}

@media (max-width:820px) {
   /*   something here  */
}

@media (max-width:600px) {

    .articles .right{
        display:none;
    }
    .articles .middle{
        width:100%;
    }
    .search-container,
    .ri-grid-fill {
        display: none;
    }
    .header {
        padding-right: 10px;
    }
}
